*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}

#main{
   height: 100%;
   width: 100%;
   background-color: lightblue; 
   background-image: url('https://images.pexels.com/photos/3737466/pexels-photo-3737466.jpeg');
   background-size: cover;
   background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 50px ;
    color: #fff;
}
#nav h2{
    font-size: 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
   cursor: pointer;
}
#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.457);
    top: 0;
    right:-40%;
    /* jitni width di hai utna right me dedo */
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}
#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}
#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius:50% ;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}