*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(119,212,243);
    padding:5vw 0;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 40vw;
    font-family: 600;
    text-transform:uppercase;
    
}