*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color:crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#box{
    height: 300px;
    width: 300px;
    background-color: black;
}
h1{
    size: 90px;
    position: relative;
    background-color: red;
    padding:10px ;
}
h2{
    size: 70px;
    position: relative;
    background-color: yellow;
}