*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    
}
body{
    overflow-x: hidden;
}
.section{
    height: 100%;
    width:100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 120px ;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
nav h1{
    font-size: 40px;
}
nav h1 i{
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
    padding: 22px 40px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}
.center{
    padding: 10px 120px ;
    height: 80%;
    width: 100%;
    display: flex;
}
.center-part1{
    height: 100%;
    width: 44%;
}
.center-part1 h1{
    line-height: 1.2;
    font-size: 70px;
}
.center-part1 p{
    font-size: 25px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
}
.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px 40px;
    font-size:20px;
    font-weight: 600;
    border: none;
}
.center-part2{
    height: 100%;
    width: 56%;
    position: relative;
}
.center-part2 img{
   
 height: 50%;
 width: 70%;
  margin-left: 200px;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1bottom img{
    height: 60px;
}
.section2 .services{
    /* background-color: red; */
    padding: 40px 120px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding:5px 10px 3px 10px;
    border-radius: 5px;
    font-size: 60px;
}
.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
}
.container{
    height: 86%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.elem{
    height: 250px;
    width: 47%;
    border: 3px solid black;
    border-radius: 50px;
 
    padding: 60px;
    box-shadow: 0px 15px 0px black;
    display: flex;
}
.elem-part1{
  height: 100%;
  width: 50%;
  align-items: flex-start ;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    height: 100%;
}
.elem-part1 h2{
    font-weight: 500;
    font-size: 25px;
    width:70%;

    border-radius: 10px;
    background-color: #9AE975;
}
.elem-part1 h4{
   display: flex;
   align-items: center;
   font-size: 25px;
   font-weight: 500; 
   margin-top: 25px;
  gap: 20px;
}
.elem-part1 h4 i{
    padding: 30px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    margin-top: 15px;
    font-size: 20px;
}
.black{
    background-color: black; 
}
.black h2{
    background-color: white;
}
.black h4 { 
   color: #fff;
}
.black h4 i{
    background-color: white;
    color: black;
}
